/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.label {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    
}

.button {
    -fx-background-color: linear-gradient(#ff5c7b, #ffffff);
    -fx-font-size: 12px;
    
}


.button:hover {
    -fx-background-color: linear-gradient(#ff2e56, #ffffff);
    -fx-font-size: 12px;
    
}

.root {
    -fx-background-image: url("pink.png");
    -fx-background-size: 517px 328px;
}