/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

    
}



#TIMO {
    -fx-background-image: url("timo3.png");
    -fx-background-size: 636px 839px;
}
#packageControl {
    -fx-background-image: url("paketti.png");
    -fx-background-size: 636px 839px;
}


.label {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    
}

#packageControl .label {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #5cc4ff;
    
}


#cities {
    -fx-background-color: linear-gradient(#ffad5c, #ffffff);
    -fx-font-size: 12px;
    
}

#packages {
    -fx-background-color: linear-gradient(#ffad5c, #ffffff);
    -fx-font-size: 12px;
    
}

#ItemBox {
    -fx-background-color: linear-gradient(#5cc4ff, #ffffff);
    -fx-font-size: 12px;
    
}
#start {
    -fx-background-color: linear-gradient(#5cc4ff, #ffffff);
    -fx-font-size: 12px;
    
}
#startAutomat {
    -fx-background-color: linear-gradient(#5cc4ff, #ffffff);
    -fx-font-size: 12px;
    
}
#target {
    -fx-background-color: linear-gradient(#5cc4ff, #ffffff);
    -fx-font-size: 12px;
    
}
#targetAutomat {
    -fx-background-color: linear-gradient(#5cc4ff, #ffffff);
    -fx-font-size: 12px;
    
}





.button {
    -fx-background-color: linear-gradient(#ff5c7b, #ffffff);
    -fx-font-size: 12px;
    
}


.button:hover {
    -fx-background-color: linear-gradient(#ff2e56, #ffffff);
    -fx-font-size: 12px;
    
}